[submodule "ICAPS2019"]
	path = ICAPS2019
	url = git@github.com:eggeek/CPD-Hsymbol-Wildcard.git
[submodule "SoCS2018"]
	path = SoCS2018
	url = git@github.com:eggeek/Nav-Mesh-OkNN.git
[submodule "papers/ICAPS2020-Suboptimal-CPD"]
	path = papers/ICAPS2020-Suboptimal-CPD
	url = https://github.com/eggeek/ICAPS2020-Suboptimal-CPD.git
[submodule "papers/Fast-OkNN-SoCS18"]
	path = papers/Fast-OkNN-SoCS18
	url = https://github.com/eggeek/Fast-OkNN-SoCS18.git
[submodule "papers/ICAPS2019-CPD-Heuristic-Symbol"]
	path = papers/ICAPS2019-CPD-Heuristic-Symbol
	url = https://github.com/eggeek/ICAPS2019-CPD-Heuristic-Symbol.git
[submodule "ICAPS2020"]
	path = ICAPS2020
	url = https://github.com/eggeek/CPD-Hsymbol-Wildcard.git
[submodule "papers/Fence-OkNN-JAIR"]
	path = papers/Fence-OkNN-JAIR
	url = https://github.com/eggeek/Fence-OkNN-JAIR.git
